*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(113, 18, 202);
    padding: 20px;
}
.data_table{
    margin: 0 auto;
    margin-top: 15px;
    width: 50%;
    background-color: #341D4A;
    color: #c0bfbf;
    text-align: center;
}
.data_table img{
    width: 20px;
}
thead{
    background-color:#29074A;
}
table,thead,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
thead th:hover{
    background-color: #3c0d6b;
    color: white;
}
td:hover{
    background-color: #462863;
    color: white;
}
#buttons{
    margin-top: 20px;
    text-align: center;
}
#buttons button{
    padding: 12px;
    background-color: #9B30FF;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}
.form{
    border: 1px solid cadetblue;
    border-radius: 10px;
    padding: 20px;
    margin: 25px auto;
    width: 40%;
    display: none;
}
.input_line{
    display: grid;
}
.input_line input{
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin-top: 8px;
    padding: 5px;
    outline: 0;
}
.form button{
    margin-top:15px ;
    padding: 7px;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease 0.3ms;
    font-weight: 500;
}
.form .create{
    background-color: rgb(77, 187, 190);
}

.form .create:hover{
    background-color: rgb(52, 225, 231);
}
.form .cancel{
    background-color: rgb(236, 71, 71);
}
.form .cancel:hover{
    background-color: rgb(235, 23, 23);
}
.form .clear{
    background-color: rgb(180, 174, 93);
}
.form .clear:hover{
    background-color: rgb(212, 203, 68);
}
.form .formButtons{
    display: flex;
    justify-content: space-between;
}

.material-symbols-outlined {
    cursor: pointer;
}